.search-result,
.search {
    width: 361px;

}


.search {
    height       : var(--search-height);
    min-width    : 200px;
    padding-left : 16px;
    display      : flex;
    background   : rgba(22, 24, 35, .06);
    border-radius: 92px;
    border       : 1.5px solid transparent;
    position     : relative;
    overflow     : hidden;
    z-index      : 1;


    input {
        flex            : 1;
        height          : 100%;
        color           : var(--black);
        font-size       : 1.6rem;
        caret-color     : var(--primary);
        background-color: transparent;

    }

    input:not(:placeholder-shown)~.search-btn {
        color: #4d4e58;
    }

    &::after {
        content         : "";
        position        : absolute;
        top             : 9px;
        right           : 52px;
        width           : 1px;
        height          : 28px;
        background-color: rgba(22, 24, 35, .12);

    }

    &:focus-within {
        border-color: rgba(22, 24, 35, .2);
    }

}

.search-title {
    padding    : 5px 12px;
    font-size  : 1.4rem;
    font-weight: 500;
    color      : rgba(22, 24, 35, .5);
}

.clear,
.loading {
    position : absolute;
    right    : 52px;
    top      : 50%;
    transform: translateY(-50%);
    color    : rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }

    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width    : 52px;
    height   : 100%;
    font-size: 1.8rem;
    color    : rgba(22, 24, 35, 0.34);


    &:hover {
        cursor    : pointer;
        background: rgba(22, 24, 35, .03);
    }

    &:active {
        background: rgba(22, 24, 35, .06);
    }
}